
// MEDIA DESTKOP

// min-width: 768px

@media (min-width: 576px) {
  .header {
    &__heading {
      font-size: 6rem;
    }
  }
}


@media (min-width: 768px) {
  .about-me {

    &__box {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }

    &__box-img {
      width: 50%;
      max-width: 500px;
      margin-bottom: 0;
    }

    &__box-description {
      width: 50%;

      &--text {
        font-family: $main-font;
        text-align: justify;
        font-size: 2.5rem;
        line-height: 1.7;
      }
    }
  }
}
// O teraoii dźwiękiem
// Media Queries dla większych ekranów
@media (min-width: 768px) {
  .about-therapy {
    padding: 8rem 2rem;

    &__text {
      font-size: 2.6rem;
      line-height: 1.9;
    }

    &__subtitle {
      font-size: 3.2rem;
    }

    &__list-item {
      font-size: 2.4rem;
    }

    .benefits-box__item {
      font-size: 2.2rem;
    }
  }
}

// min-width: 992px

@media (min-width: 992px) {
  .nav {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__items {

      &--destkop {
        /*box-shadow: 10px 10px 20px 5px darkgoldenrod;
        line-height: 60px;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
        display: inline-block;*/
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        //padding: 1rem 0;
      }
    }
    &__item {
      padding: 0.2em;
      color: $main-color;
    }
  }
  .nav .hamburger {
    display: none;
  }
}

@media (min-width: 992px) {
  .about-therapy {
    padding: 10rem 2rem;

    &__container {
      max-width: 1000px;
      margin: 0 auto;
    }

    &__text {
      font-size: 2.8rem;
      line-height: 2;
    }
  }
}