.slider-background {
  //background: linear-gradient(135deg, rgba(255,253,240,1) 0%, rgba(255,236,179,1) 100%);
}
.slider {

  margin: 2rem auto;
  position: relative;
  height: 150px;
  width: 300px;
  border-radius: 6px;
  overflow: hidden;

  &__box {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s;
  }

  &__img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em 0.8em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.btn--left {
  left: 0;
}

.btn--right {
  right: 0;
}

.btn span {
  display: block;
  transition: transform 0.3s;
}

.btn:hover span {
  transform: scale(0.7);
}

@media (min-width: 576px) {
  .slider {
    height: 250px;
    width: 500px;
  }
}

@media (min-width: 768px) {
  .slider {
    height: 350px;
    width: 700px;
  }
}

@media (min-width: 992px) {
  .slider {
    height: 450px;
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .slider {
    height: 500px;
    width: 1000px;
  }
}


