{% extends 'base/base.html' %}
{% load static %}
{% block head_suplement %}
    <title>404</title>
    <link rel="stylesheet" href="{% static '/style/404.css' %}">
{% endblock %}

{% block content %}
    <!--===================404=========================-->
    <section class="page-404">
        <div class="wrapper">
            <div class="page-404__container fade-in-element">
                <div class="page-404__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                         stroke="#e81515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 3h18v18H3zM15 9l-6 6m0-6l6 6"></path>
                    </svg>
                </div>
                <h1 class="page-404__title">Strona, której szukasz nie istnieje</h1>
            </div>
        </div>
    </section>
{% endblock %}