{% extends 'base/base.html' %}
{% load static %}
{% block head_suplement %}
    <title>Anulowanie rezerwacji - {{ event.title }}</title>
    <link rel="stylesheet" href="{% static '/style/cancel_reservation.css' %}">
{% endblock %}

{% block content %}
    
    <!--===================POTWIERDZENIE REZERWACJI=========================-->
    <section class="cancel-confirmation">
        <div class="wrapper">
            <div class="cancel-confirmation__container fade-in-element">
                <div class="cancel-confirmation__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                         stroke="#e81515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 3h18v18H3zM15 9l-6 6m0-6l6 6"></path>
                    </svg>
                </div>
                <h1 class="cancel-confirmation__title">Anuluj rezerwację</h1>

                <p class="cancel-confirmation__text">Czy na pewno chcesz anulować swoją rezerwację?</p>
                <p class="cancel-confirmation__text"> <span
                        class="cancel-confirmation__event-title">"{{ reservation.event.title }}"</span></p>.
                <p class="cancel-confirmation__text"><span class="cancel-confirmation__text__warning">Uwaga: </span>
                    Po anulowaniu rezerwacji nie będzie możliwości jej przywrócenia.</p>

                <div class="cancel-confirmation__details">
                    <p><span>Rezerwacja dla:</span> {{ reservation.customer.get_full_name }}</p>
                    <p><span>Data wydarzenia:</span> {{ reservation.event.start_datetime|date:"j E Y, H:i" }}</p>
                    <p><span>Miejsce:</span> {{ reservation.event.venue.name }}, {{ reservation.event.venue.address }}
                    </p>
                    <p><span>Liczba osób:</span> {{ reservation.participants_count }}</p>
                    <p><span>Status:</span> {{ reservation.get_status_display }}</p>
                </div>
                <div class="cancel-confirmation__actions">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="cancel-confirmation__button">Anuluj rezerwację</button>
                    </form>
                    <a href="{% url 'index' %}"
                       class="cancel-confirmation__button cancel-confirmation__button--secondary">Wróć na stronę
                        główną</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}