{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Na nitkach dźwięków - potwierdzenie rezerwacji koncertu">
    <meta name="keywords" content="relaks, misa tybetańska, gong, medytacja, rozwój duchowy">
    <meta name="author" content="Marcin Grześ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">
    <title>Anulowanie rezerwacji - {{ event.title }}</title>
    <link rel="stylesheet" href="{% static '/style/style.css' %}">
    <link rel="stylesheet" href="{% static '/style/hamburgers.css' %}">
    <link rel="stylesheet" href="{% static '/style/cancel_reservation.css' %}">
</head>
<body>

<!--===================NAWIGACJA=========================-->
<nav class="nav">
    <div class="nav__items--destkop">
        <a href="{% url 'index' %}#about_me" class="nav__item">O mnie</a>
        <a href="{% url 'event_calendar' %}" class="nav__item">Kalendarz koncertów</a>
        <a href="{% url 'index' %}#about_therapy" class="nav__item">O terapii dźwiękiem</a>
        <a href="{% url 'index' %}#concerts" class="nav__item">Koncerty</a>
        <a href="{% url 'index' %}#firm" class="nav__item">Dla firm</a>
        <a href="{% url 'index' %}#practical" class="nav__item">Praktyczne informacje</a>
        <a href="{% url 'index' %}#contact" class="nav__item">Kontakt</a>
    </div>

    <div class="nav__items-mobile nav__items-mobile--active" id="nav-mobile">
        <a href="{% url 'index' %}#about_me" class="nav__item nav__item--mobile">O mnie</a>
        <a href="{% url 'event_calendar' %}" class="nav__item nav__item--mobile">Kalendarz koncertów</a>
        <a href="{% url 'index' %}#about_therapy" class="nav__item nav__item--mobile">O terapii dźwiękiem</a>
        <a href="{% url 'index' %}#concerts" class="nav__item nav__item--mobile">Koncerty</a>
        <a href="{% url 'index' %}#firm" class="nav__item nav__item--mobile">Dla firm</a>
        <a href="{% url 'index' %}#practical" class="nav__item nav__item--mobile">Praktyczne informacje</a>
        <a href="{% url 'index' %}#contact" class="nav__item nav__item--mobile">Kontakt</a>
    </div>

    <button class="hamburger hamburger--emphatic" type="button" aria-label="Otwórz menu" aria-expanded="false"
            aria-controls="nav-mobile">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</nav>

<!--===================POTWIERDZENIE REZERWACJI=========================-->
<section class="cancel-confirmation">
    <div class="wrapper">
        <div class="cancel-confirmation__container fade-in-element">
            <div class="cancel-confirmation__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="#e81515" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 3h18v18H3zM15 9l-6 6m0-6l6 6"></path>
                </svg>
            </div>
            <h1 class="cancel-confirmation__title">Anuluj rezerwację</h1>

            <p class="cancel-confirmation__text">Czy na pewno chcesz anulować swoją rezerwację?</p>
            <p class="cancel-confirmation__text"> <span
                    class="cancel-confirmation__event-title">"{{ reservation.event.title }}"</span></p>.
            <p class="cancel-confirmation__text"><span class="cancel-confirmation__text__warning">Uwaga: </span>
                Po anulowaniu rezerwacji nie będzie możliwości jej przywrócenia.</p>

            <div class="cancel-confirmation__details">
                <p><span>Rezerwacja dla:</span> {{ reservation.customer.get_full_name}}</p>
                <p><span>Data wydarzenia:</span> {{ reservation.event.start_datetime|date:"j E Y, H:i" }}</p>
                <p><span>Miejsce:</span> {{ reservation.event.venue.name }}, {{ reservation.event.venue.address }}</p>
                <p><span>Liczba osób:</span> {{ reservation.participants_count }}</p>
                <p><span>Status:</span> {{ reservation.get_status_display }}</p>
            </div>
            <div class="cancel-confirmation__actions">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="cancel-confirmation__button">Anuluj rezerwację</button>
                </form>
                <a href="{% url 'index' %}"
                   class="cancel-confirmation__button cancel-confirmation__button--secondary">Wróć na stronę główną</a>
            </div>
        </div>
    </div>
</section>

<!--===================STOPKA=========================-->
<footer class="footer">
    <div class="wrapper">
        <div class="footer__content">
            <p class="footer__copyright">
                &copy; <span class="footer__year"></span>
                <span class="footer__owner">Beata Witkowska</span>
                <span class="footer__rights">Wszelkie prawa zastrzeżone</span>
            </p>
        </div>
    </div>
</footer>

<script defer src="{% static '/script/script.js' %}"></script>
<script defer src="{% static '/script/animations.js' %}"></script>
</body>
</html>