{% extends 'base/base.html' %}
{% load static %}
<head>
     {% block head_suplement %}
    <link rel="stylesheet" href="{% static '/style/calendar.css' %}">
         <title>Kalendarz wydarzeń</title>
    {% endblock %}
</head>
<body>

{% block content %}
<!--===================KALENDARZ=========================-->

<section class="calendar">
    <div class="wrapper">
        <div class="calendar-container">
            <h1 class="page-title">Kalendarz koncertów</h1>
            <div id="calendar"></div>
        </div>
    </div>
</section>
    
<!--===================KALENDARZ=========================-->
    
{% endblock %}
{% block script %}
<script defer src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
<script defer src="{% static '/../static/script/calendar.js' %}"></script>
{% endblock %}
</body>