{% extends 'base/base.html' %}
{% load static %}

{% block head_suplement %}
    <title>Rezerwacja - {{ event.title }}</title>
    <link rel="stylesheet" href="{% static '/style/reservationForm.css' %}">
{% endblock %}

{% block content %}
    <!--===================FORMULARZ REZERWACJI=========================-->
    <section class="reservation-form">
        <div class="wrapper">
            <h1 class="reservation-form__title">Rezerwacja miejsca na: <br><span>"{{ event.title }}"</span></h1>

            <div class="reservation-form__information">
                <p><span>Data: </span>{{ event.start_datetime|date:"j E Y" }}</p>
                <p><span>Godzina rozpoczęcia: </span>{{ event.start_datetime|date:"H:i" }}</p>
                <p><span>Miejsce: </span> {{ event.venue.name }}, {{ event.venue.address }}, {{ event.venue.city }}</p>
                <p><span>Dostępne miejsca: </span> {{ event.get_available_seats }}</p>
                {% if event.price %}
                    <p><span>Cena: </span> {{ event.price }}</p>
                {% endif %}
            </div>
            <!-- Zmiana div formularza, dodanie atrybutów data -->
            <div id="reservation-form-container" data-event-detail-url="{% url 'event_detail' event.id %}">
                <form method="post" novalidate id="reservation-form">
                    {% csrf_token %}
                    <!-- Pole honeypot - niewidoczne dla użytkowników -->
                    <div class="honeypot-field" style="display: none;">
                        {{ form.website_url }}
                    </div>
                    {% if reservation_available %}
                        <div class="reservation-form__form">
                            <div class="reservation-form__form-group">
                                <label for="{{ form.first_name.id_for_label }}"
                                       class="reservation-form__form-label">{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <div class="reservation-form__form-block">{{ form.first_name.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="reservation-form__form-group">
                                <label for="{{ form.last_name.id_for_label }}"
                                       class="reservation-form__form-label">{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <div class="reservation-form__form-block">{{ form.last_name.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="reservation-form__form-group">
                                <label for="{{ form.email.id_for_label }}"
                                       class="reservation-form__form-label">{{ form.email.label }}</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="reservation-form__form-block">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="reservation-form__form-group">
                                <label for="{{ form.phone_number.id_for_label }}"
                                       class="reservation-form__form-label">{{ form.phone_number.label }}</label>
                                {{ form.phone_number }}
                                {% if form.phone_number.errors %}
                                    <div class="reservation-form__form-block">{{ form.phone_number.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="reservation-form__form-group">
                                <label for="{{ form.participants_count.id_for_label }}"
                                       class="reservation-form__form-label">{{ form.participants_count.label }}</label>
                                {{ form.participants_count }}
                                <small class="reservation-form__form-text">{{ form.participants_count.help_text }}</small>
                                {% if form.participants_count.errors %}
                                    <div class="reservation-form__form-block">{{ form.participants_count.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="reservation-form__form-group">
                                <label for="{{ form.type_of_payments.id_for_label }}"
                                       class="reservation-form__form-label">{{ form.type_of_payments.label }}</label>
                                {{ form.type_of_payments }}
                                {% if form.type_of_payments.errors %}
                                    <div class="reservation-form__form-block">{{ form.type_of_payments.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="reservation-form__form-group" style="grid-column: 1 / -1;">
                                <div class="reservation-form__form-check">
                                    {{ form.regulations_consent }}
                                    <label class="reservation-form__form-label"
                                           for="{{ form.regulations_consent.id_for_label }}">
                                        Zapoznałem się z
                                        <a href="{% url 'website_regulations' %}" target="_blank"
                                           rel="noopener noreferrer">regulaminem</a>
                                        oraz
                                        <a href="{% url 'privacy_policy' %}" target="_blank" rel="noopener noreferrer">polityką
                                            prywatności</a>
                                    </label>
                                </div>
                                {% if form.regulations_consent.errors %}
                                    <div class="reservation-form__form-block">{{ form.regulations_consent.errors }}</div>
                                {% endif %}
                                <small class="reservation-form__form-text">{{ form.regulations_consent.help_text }}</small>
                            </div>

                            <div class="reservation-form__form-group" style="grid-column: 1 / -1;">
                                <div class="reservation-form__form-check">
                                    {{ form.newsletter_consent }}
                                    <label class="reservation-form__form-label"
                                           for="{{ form.newsletter_consent.id_for_label }}">
                                        {{ form.newsletter_consent.label }}
                                    </label>
                                </div>
                                {% if form.newsletter_consent.errors %}
                                    <div class="reservation-form__form-block">{{ form.newsletter_consent.errors }}</div>
                                {% endif %}
                                <small class="reservation-form__form-text">{{ form.newsletter_consent.help_text }}</small>
                            </div>
                        
                            {#CAPTCHA#}
                            
                            <div class="reservation-form__form-group" style="grid-column: 1 / -1;">
                                <div class="reservation-form__form-check">
                                <div class="reservation-form__captcha">
                                    <label class="reservation-form__form-label">{{ form.captcha.label }}</label>
                                    {{ form.captcha }}
                                    {% if form.captcha.errors %}
                                        <div class="reservation-form__form-block">{{ form.captcha.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                            <div class="reservation-form__form-buttons">
                                <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">Cofnij</a>
                                <button type="submit" class="btn btn-primary">Zarezerwuj miejsce</button>
                            </div>
                        </div>

                    {% else %}
                        <div class="reservation-form__information reservation-form__unavailable">
                            <p class="reservation-form__text reservation-form__text--warning">
                                Rezerwacja online jest już niedostępna, jeśli chcesz przyjść na koncert to zadzwoń.
                            </p>
                            <div class="reservation-form__form-buttons">
                                <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary">Powrót</a>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script defer src="{% static '/../static/script/reservation-availability.js' %}"></script>
{% endblock %}
